{% extends "base.html" %}

{% block header %}
<header>
  <div class="row">
      <div style="color: white;
      height: 100%;
      width: 100%;
      background-size: cover; 
      background-position: center; 
      background-repeat: no-repeat; 
      background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url({{image}});"
      class="jumbotron jumbotron-fluid mr-0">
          <div class="container-fluid">
              <h1 class="display-4 text-center">
                <i>{{ strain.name }}</i>
              </h1>
              <p class="mt-n2 lead text-center">
                <b>
                {% if strain.genetics == 'false' %}
                {% else %} 
                {{ strain.genetics }}
                {% endif %}
                </b>
              </p>
            </div>
      </div>
  </div>
</header>
{% endblock %}

{% block content %}
<div class="row h-100 justify-content-center align-items-center">
  <div class="col-md-4 bg-light border rounded text-center">
      <h5 class="mt-5">Terpenes</h5>
      {% for terpene in strain.terpenes %}
      <span class="badge badge-pill badge-secondary">
          {{ terpene.compound.name }}
      </span>
      {% endfor %}
      {% include "partials/sensory.html" %}
      {% include "partials/flags.html" %}
  </div>
</div>
{% endblock %}




