{% extends "base.html" %}

{% import "bootstrap/wtf.html" as wtf %}

 {% block content %}
 <div class="row h-100 justify-content-center align-items-center">
    <div class="col-md-6 bg-dark text-light rounded">
        <h5 class="mt-4 text-center">Create Terpene</h5>

        <form method="POST" action="{{ url_for('add_terpene') }}">
            <div class="form-group">
                {{ form.csrf_token }}
                {{ wtf.form_field(form.aroma) }}
                {{ wtf.form_field(form.compound_id) }}
                <button type="Submit" class='btn btn-secondary btn-block'>Submit</button>
            </div>
        </form>
    </div>
</div>

{% endblock %}