{% extends "base.html" %}

{% import "bootstrap/wtf.html" as wtf %}


{% block content %}


<div class="row h-100 justify-content-center align-items-center">
  <div class="col-md-4 bg-light border rounded">
      <h5 class="mt-4 text-left">Terpene Match</h5>
      <form action="" method="post" class="form" role="form">
        {{ form.csrf_token() }}
       <d1>
        {{ wtf.form_field(form.strain, class='form-control', placeholder='Search strains...') }}
       </d1>
      <button type="Submit" class='btn btn-secondary btn-block'>Submit</button>
      </form>
      
    </form>
  </div>
</div>


{% endblock %}