{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block content %}
<div class="row h-100 justify-content-center align-items-center">
  <div class="col-md-6 bg-dark text-light rounded">
      <h5 class="mt-4 text-center">Create Terpene</h5>
      <form action="{{ url_for('add_terpene') }}" method="post" class="form" role="form">
        {{ form.csrf_token() }}
        <d1>
        {{ wtf.form_field(form.compound_id, class='form-control', placeholder='Select Compound') }}
        {{ wtf.form_field(form.aroma, class='form-control', placeholder='Enter') }}
        </d1>
        <button type="Submit" class='btn btn-secondary btn-block'>Submit</button>
      </form>
  </div>
</div>

<style>
</style>
{% endblock %}