{% extends "base.html" %}

{% import "bootstrap/wtf.html" as wtf %}

 {% block content %}
<div class="row h-100 justify-content-center align-items-center">
    <div class="col-md-6 bg-light text-dark rounded">
        <h5 class="mt-4 text-center">Create Compound</h5>

        <form method="POST" action="{{ url_for('compound_bp.add_compound') }}">
            <div class="form-group">
                {{ form.csrf_token }}
                {{ wtf.form_field(form.name)}}
                
                <button type="Submit" class='btn btn-secondary btn-block'>Submit</button>
            </div>         
        </form>
    </div>
</div>

<a class="unsplash-badge" style="background-color:black;color:white;text-decoration:none;padding:4px 6px;font-family:-apple-system, BlinkMacSystemFont, &quot;San Francisco&quot;, &quot;Helvetica Neue&quot;, Helvetica, Ubuntu, Roboto, Noto, &quot;Segoe UI&quot;, Arial, sans-serif;font-size:12px;font-weight:bold;line-height:1.2;display:inline-block;border-radius:3px" href="https://unsplash.com/@dilucidus?utm_medium=referral&amp;utm_campaign=photographer-credit&amp;utm_content=creditBadge" target="_blank" rel="noopener noreferrer" title="Download free do whatever you want high-resolution photos from Kai Dahms"><span style="display:inline-block;padding:2px 3px"><svg xmlns="http://www.w3.org/2000/svg" style="height:12px;width:auto;position:relative;vertical-align:middle;top:-2px;fill:white" viewBox="0 0 32 32"><title>unsplash-logo</title><path d="M10 9V0h12v9H10zm12 5h10v18H0V14h10v9h12v-9z"></path></svg></span><span style="display:inline-block;padding:2px 3px">Kai Dahms</span></a>

<style>
    .justify-content-center {
      background-image: url("{{ url_for('compound_bp.static', filename='images/compounds.jpg')}}");
      background-repeat: no-repeat, repeat;
      background-position: center; /* Center the image */
      background-size: cover;
      position:relative;
    }
    .ui-autocomplete {
        list-style: none;
        background: white;
        z-index: 2;
        width: 25%;
    }

    .unsplash-badge {
        position: absolute;
        left: 1rem;
        bottom: 1rem;
        z-index: 1000;
    }
  </style>

{% endblock %}