{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block content %}
<div class="row h-100 justify-content-center align-items-center">
  <div id="concol" class="col-md-6 bg-dark text-light rounded">
      <h5 class="mt-4 text-center">Strain Substitute</h5>
      <p class="text-center">Find strains with complimentary terpene profiles.</p>
      <form action="{{ url_for('success') }}" method="post" class="form" role="form">
        {{ form.csrf_token() }}
        <d1>
        {{ wtf.form_field(form.strain, class='form-control', placeholder='Search strains...') }}
        </d1>
        <button type="Submit" class='btn btn-secondary btn-block'>Submit</button>
      </form>
  </div>
</div>

<style>
  .justify-content-center {
    background-image: url("{{ url_for('static', filename='images/home.jpg')}}");
    background-repeat: no-repeat, repeat;
    background-position: center; /* Center the image */
    background-size: cover;
  }
  .ui-autocomplete {
      list-style: none;
      background: white;
      z-index: 2;
      width: 25%;
  }
</style>
{% endblock %}

{% block javascript %}
<script type="text/javascript">
  console.log("hello");
  $(document).ready(function(){
    var strains=[];

    function loadStrains(){
      $.getJSON('/autocomplete', function(data, status, xhr){
        for (var i = 0; i < data.length; i++ ) {
              strains.push(data[i].name);
          }
    });
    };

    loadStrains();

    $('#strain').autocomplete({
      source: strains, 
      });
    }); 
</script>
{% endblock %}